asgiref
astroid
bootstrap4
colorama
Django
django-crispy-forms
django-filter
html5lib
isort
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
Pillow
psycopg2
pylint
pylint-django
pylint-plugin-utils
PyPDF2
pytz
reportlab
six
sqlparse
webencodings
wrapt
xhtml2pdf
